.up123 {
    background-color: rgb(47, 48, 58);
    color: white;
    text-align: center;
    margin: auto;
    padding: 80px;
    font-size: 20px;
}
footer {
    background-color: rgb(47, 48, 58);
    color: white;
    padding: 10px;
    padding-left: 5px;
}
header {
    margin-top: 2px;
    height: 30px;
    background-color: white;
}
.byps {
    background-color: rgb(33, 150, 243);
    color: white;
    font-size: medium;
    width: 216px;
    height: 50px;
    border-radius: 4px;
}
.hwbslogo {
    color: black;
}
#wbslogo {
    float: left;
    display: block;
}
.fwbslogo {
    color: white;
}
.wbslogo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 3px;
}
button:hover.sort {
    background-color: rgb(33, 150, 243);
}
ul {
    list-style-type: none;
}
nav {
    text-align: center;
    padding: 0;
    float: left;
    display: block;
}
nav li {
    display: inline;
}
a {
    text-decoration: none;
}
/* .ptfli {
    border: 2px;
} */
.ulnav {
    list-style: none;
}
.hadrs {
    text-align: right;
    float: right;
}
#sec1header {
    display: none;
}
.sec1 {
    margin-left: 215px;
}
.sec2 {
    margin-left: 215px;
}
.sec3 {
    background-color: rgb(245, 244, 250);
}