.up123 {
    background-color: rgb(47, 48, 58);
    color: white;
    text-align: center;
    margin: auto;
    padding: 80px;
}
footer {
    background-color: rgb(47, 48, 58);
    color: white;
    padding: 10px;
}
.byps {
    background-color: rgb(33, 150, 243);
    color: white;
    font-size: medium;
}
.hwbslogo {
    color: black;
}
.fwbslogo {
    color: white;
}
ul {
    list-style-type: none;
}
nav {
    text-align: center;
    padding: 5px;
}
.hadrs {
    text-align: left;
}
.sec1 {
    margin-left: 215px;
}
.sec2 {
    margin-left: 215px;
}
.sec3 {
    background-color: rgb(245, 244, 250);
}