:root {
    --white-color: #fff; 
    --second-bg-color: #2F303A;
    --third-bg-color: #F5F4FA;
    --background4: rgb(33, 150, 243);
    --text-dark-color: #212121;
    --text-grey-color:#757575;
    --footeradrs: rgba(255, 255, 255, 0.60);  
} 
/* Webstudio + Portfolio */
body {
    font-family: Roboto, sans-serif;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

/* header */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: white;
}
/* @media screen and (max-width: 576px){
    header {
        height: 50px;
    }
} */
.header-container {
    display: flex;
}
.hwbslogo {
    color: black;
}
.header-logo {
    margin-right: 93px;
}
/* #wbslogo {
    float: left;
    display: block;
}
.wbslogo {
    color: #2196F3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    margin-left: 215px;
} */
.contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.header-list {
    display: flex;
    gap: 50px;
}
.ulnav {
    list-style: none;
}
/* main */
.hero {
    background-color: var(--second-bg-color);
    color: var(--white-color);
    text-align: center;
    margin: auto;
    height: 600px;
}
.hero-header {
    font-weight: 900;
    font-size: 44px;
    padding-top: 200px;
    height: 120px;
}
.hero-button {
    background-color: rgb(33, 150, 243);
    color: var(--white-color);
    font-size: medium;
    border: 0;
    width: 216px;
    height: 50px;
    border-radius: 4px;
}
.features {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 215px;
}
.features-item {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
    font-weight: 400;
    font-size: 14px;
    height: 72px;
    width: 270px;
    color: var(--text-grey-color);
}
.features-item h3 {
    color: initial;
    font-weight: 700;
    font-size: 14px;
}
.work {
    text-align: center;
}
.work h2 {
    font-weight: 700;
    font-size: 36px;
}
.work li {
    margin-right: 30px;
    display: inline-block;
    margin-top: 30px;
}
.work img {
    width: 370px;
    height: 294px;
    object-fit: cover;
}
.team {
    background-color: var(--third-bg-color);
    text-align: center;
    padding-bottom: 50px;
}
.team h2 {
    font-size: 36px;
    margin: 30px;
    padding-top: 30px;
}
.teamcard {
    background-color: white;
    width: 270px;
    height: 368px;
    display: inline-block;
    margin-left: 30px;
}
.teamcard img {
    height: 260px;
}
.teamcard h3 {
    color: VAR(--text-dark-color);
    font-weight: 500;
    margin-top: 30px;
}
.teamcard p {
    font-weight: 400;
    color: var(--text-grey-color);

}
/* footer */

footer {
    background-color: var(--second-bg-color);
    height: 252px;
    padding-top: 50px;
    padding-left: 215px;
}
.fwbslogo, footer {
    color: var(--white-color);
}
footer address {
    font-weight: 400;
    font-size: 14px;
}
footer address a {
    font-style: normal;
    color: var(--footeradrs);
}
footer address a[href^="https"] {
    color: #fff;
}
/* Portfolio only */
.sort li {
    margin-bottom: 20px;
    display: inline-block;
}
.sort li button {
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    border: 0;
    background-color: var(--third-bg-color);
}
.sort li button:hover {
    background-color: var(--background4);
}