:root {
    --white-color: #fff;
    --second-bg-color: #2F303A;
    --third-bg-color: #F5F4FA;
    --color-accent: #2196F3;
    --text-dark-color: #212121;
    --text-grey-color: #757575;
    --footeradrs: rgba(255, 255, 255, 0.60);
    --unactive-color: #AFB1B8;
}

/* Webstudio + Portfolio */
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features,
.work,
.team {
    padding-top: 94px;
}

.work,
.team {
    padding-bottom: 94px;
}

/* header */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--white-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo,
.header-accent,
.footer-logo {
    color: var(--color-accent);
    font-size: 26px;
    line-height: 1.3;
    font-family: Raleway;
    font-weight: 700;
}

.header-logo {
    color: #000;
    margin-right: 93px;
}

.header-contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-page {
    color: var(--text-dark-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
}

.header-link {
    display: flex;
    color: var(--text-grey-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
    fill: var(--text-grey-color);
    gap: 10px;
}

.header-page:hover,
.header-page:focus,
.header-link:hover,
.header-link:focus {
    color: var(--color-accent);
    fill: var(--color-accent);
    cursor: pointer;
}

/* main */
/* hero */
.hero {
    padding: 200px 0;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.40),
            rgba(47, 48, 58, 0.40)),
        url(../image/hero-background.jpg);
    color: var(--white-color);
    text-align: center;
    margin: auto;
}

.hero-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-button {
    background-color: rgb(33, 150, 243);
    color: var(--white-color);
    font-size: medium;
    border: 0;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* features */
.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    max-width: 270px;
}

.features-item::before {
    content: "";
    display: block;
    background-size: 70px;
    background-repeat: no-repeat;
    background-color: var(--third-bg-color);
    background-position: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
}

.features-item:nth-child(1)::before {
    background-image: url(../image/features/antenna.png);
}

.features-item:nth-child(2)::before {
    background-image: url(../image/features/clock.png);
}

.features-item:nth-child(3)::before {
    background-image: url(../image/features/diagram.png);
}

.features-item:nth-child(4)::before {
    background-image: url(../image/features/astronaut.png);
}

.features-subtitle {
    color: initial;
    font-weight: 700;
    line-height: 1.1;
    ;
    margin-bottom: 10px;
}

.features-text {
    color: var(--text-grey-color);
    line-height: 1.7;
    letter-spacing: 0.42px;
}

/* work */
.work-list {
    display: flex;
    gap: 30px;
}

.work-heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.work-img {
    width: 370px;
    height: 294px;
    object-fit: cover;
}

/* team */
.team {
    background-color: var(--third-bg-color);
    text-align: center;
}

.team-heading {
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 1.2;
    letter-spacing: 1.08px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-card {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-img {
    height: 260px;
}

.team-name {
    color: VAR(--text-dark-color);
    font-weight: 500;
    margin-top: 30px;
    line-height: 1.1;
}

.team-desc {
    font-weight: 400;
    color: var(--text-grey-color);
    line-height: 1.1;

}

/* team links */
.team-links {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    gap: 10px;
}

.team-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--unactive-color);
    justify-content: center;
    align-items: center;
}

.team-link:hover,
.team-link:focus {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    fill: var(--white-color);
}
/* clients */
.clients {
}
.clients-list {
    display: flex;
    justify-content: center;
}
.clients-item {
    fill: var(--unactive-color);
    border: var(--unactive-color) 1px solid;
    border-radius: 4px;
    flex-basis: calc((100% - 30px) / 6);
}
.clients-img {
    fill: var(--unactive-color);
}
/* footer */
.footer {
    background-color: var(--second-bg-color);
    padding: 60px 0;
    justify-content: space-between;
}

.footer,
.footer-accent {
    color: var(--white-color);
}
.footer-contacts {
    display: flex;
    gap: 9px;
    flex-direction: column;
}
.footer-email,
.footer-phone {
    font-style: normal;
    color: var(--footeradrs);
}
.footer-map {
    color: var(--white-color);
    font-style: normal;
}

.footer-text {
    color: var(--white-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-links {
    display: flex;
    flex-direction: column;
    
}
.footer-list {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.footer-link {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    fill: var(--unactive-color);
}

.footer-link:hover,
.footer-link:focus {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    fill: var(--white-color);
}
/* Portfolio only */
.portfolio {
    padding: 94px 0;
}

/* portfolio buttons */
.portfolio-btns {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-btn {
    padding: 6px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    border: 0;
    background-color: var(--third-bg-color);
    letter-spacing: 0.48px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--color-accent);
    color: var(--white-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

/* photos */
.photos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.photos-item {
    flex-basis: calc((100% - 3 * 37px) / 2);
    max-width: 360px;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

.photos-item:hover,
.photos-item:focus {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.photos-textbox {
    padding: 20px 24px;
}

.photos-title {
    color: var(--text-dark-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.photos-desc {
    color: var(--text-grey-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.48px;
}